/*///////GOOGLE FONTS///////////*/
@import url("https://fonts.googleapis.com/css2?family=Kavoon&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kavoon&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  /*////colors//////////*/
  --primary-color: #DAF9D8;
  --secondary-color: #32BC4B;
  --bg-color: #1E4875;
  --container-color: #DEF1FF;

  /*/////typography///////*/
  --primary-font: "Kavoon", serif;
  --secondary-font: "Roboto", sans-serif;

  --h1-font-size: 4rem;
  --h2-font-size: 2.5rem;
  --h3-font-size: 1.6rem;
  --p-font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
}

.hero-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.heroVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.nav-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 1rem;
}

.siteLogo {
  position: relative;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}

.hero-container>img {
  width: 40%;
  left: 30%;
}

h1 {
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: var(--h1-font-size);
}

h2 {
  color: var(--secondary-color);
  font-family: var(--primary-font);
  font-size: var(--h2-font-size);
}

p {
  font-family: var(--secondary-font);
  font-size: var(--p-font-size);
  color: var(--secondary-color);
}