/*///////GOOGLE FONTS///////////*/
@import url("https://fonts.googleapis.com/css2?family=Kavoon&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kavoon&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  /*////colors//////////*/
  --primary-color: #daf9d8;
  --secondary-color: #32bc4b;
  --bg-color: #1e4875;
  --container-color: #def1ff;

  /*/////typography///////*/
  --primary-font: "Kavoon", serif;
  --secondary-font: "Roboto", sans-serif;

  --h1-font-size: 3rem;
  --h2-font-size: 2.5rem;
  --h3-font-size: 0.6rem;
  --p-font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
}

.hero-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.heroVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.siteLogo {
  position: relative;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}

.hero-container>img {
  width: 40%;
  left: 30%;
}

h1 {
  font-family: var(--primary-font);
  font-size: var(--h1-font-size);
  color: var(--primary-color);
  position: absolute;
  bottom: 8rem;
  width: 100%;
  text-align: center;
}

h2 {
  font-family: var(--secondary-font);
  font-size: var(--h2-font-size);
  color: var(--secondary-color);
  position: absolute;
  bottom: 4rem;
  width: 100%;
  text-align: center;
}

.flash {
  width: 50px;
  /* Set the desired width */
  height: 50px;
  /* Set the desired height */
  position: absolute;
  bottom: 2rem;
  /* Adjust the position as needed */
  left: 50%;
  /* Center horizontally */
  transform: translateX(-50%);
  /* Center adjustment */
  z-index: 2;
  /* Ensure it's above the video */
}